{% extends "base.jinja" %}

{% block contenu %}
<div class="flex justify-center mt-40">
    <div class="flex flex-col">
        <h2 class="text-lg">Ajouter un emploi</h2>
        <div class="max-w-lg">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" action="/emploi/ajouter" novalidate>
                <div class="form-outline mb-4">
                    <label for="titre">Titre</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="titre" name="titre" id="titre" type="text">
                    {% if message.titre %}<span>Le titre ne doit pas etre vide</span>{% endif %}
                </div>
                <div class="form-outline mb-4">
                    <label for="description">Description</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="description" name="description" id="description" type="text">
                    {% if message.description %}<span>Vous devez ajouter une description</span>{% endif %}
                </div>
                <div class="form-outline mb-4">
                    <label for="entrepriseNom">Nom de l'entreprise</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nom de l'entreprise" name="entrepriseNom" id="entrepriseNom" type="text">
                    {% if message.entrepriseNom %}<span>Le nom de l'entreprise ne doit pas etre vide</span>{% endif %}
                </div>
                <div class="form-outline mb-4">
                    <label for="entrepriseSiteWeb">Site Web de l'entreprise</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Site Web de l'entreprise" name="entrepriseSiteWeb" id="entrepriseSiteWeb" type="text">
                    {% if message.entrepriseSiteWeb %}<span>Le site Web de l'entreprise ne doit pas etre vide</span>{% endif %}
                </div>
                <div class="form-outline mb-4">
                    <label for="lieu">Lieu du travail</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="lieu du travail" name="lieu" id="lieu" type="text">
                    {% if message.lieu %}<span>Vous devez ajouter un lieu</span>{% endif %}
                </div>
                <div class="form-outline mb-4">
                    <label for="salaire">Salaire</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="salaire" name="salaire" id="salaire" type="number">
                    {% if message.salaire %}<span>Vous devez ajouter un salaire</span>{% endif %}
                </div>
                <div class="flex items-center gap-3">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Ajouter l'emploi</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}