@font-face {
  font-family: SpaceGrotesk; src: url("/static/fonts/SpaceGrotesk-Bold.otf") format('opentype');
}

*{
font-family: SpaceGrotesk;
}

.logo{
font-size: 2rem;
}

.keyword{
border: 2px solid #33333347;
border-radius: 5px;
padding: 0 5px 0 5px;; 
}

.delete{
background-image: url("/static/images/delete.svg");
}