<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>ConX</title>
    {% block script %}
    {% endblock %}
</head>
<body class="min-h-screen">
<header>
    <nav class="flex items-center place-content-between container mx-auto px-10 mt-4">
        <div class="">
            <h1 class="flex items-center logo"><a href="/emploi">ConX</a></h1>
        </div>
        <div class="flex gap-3">
            {% if not session.user %}
                <a href="/">Se Connecter</a>
                <a href="/compte/inscription">Créer un compte</a>
            {% else %}
                <a href="/compte/profil/{{ session.user._id }}">Mon Compte</a>
                <a href="/compte/deconnecter">Se Déconnecter</a>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    {% block contenu %}
    {% endblock %}
</main>
<footer class="container mx-auto px-4 sticky top-[95vh] flex justify-center"> Frédéric Dignard et David Girard @Copyright 2023</footer>
</body>
</html>